.wizardNumerator {
  width: 30px;
  height: 30px;
  background-color: #ddd;
  color: #fff;
}

.wizardNumerator.active {
  background-color: #dd0000;
}

.wizardName .subtitle {
  font-size: 0.75em;
}

.dialogWizard {
  min-width: 70vw;
}
