<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- DevLabs Env Database Connection String-->
		<add name="oraclecon" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = pdbdev))); User Id = camsdbuser; Password = camsdbuser;"/>
	    <!-- Test Env Database Connection String-->
	    <!--<add name="oraclecon" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = cman-td.uk.drcc3.dub.oci.vodafone.com)(PORT = 33000))(CONNECT_DATA = (SERVICE_NAME = camsdb.sntd001.ie1cn013203o1.oraclevcn.com))); User Id = camsdbuser; Password = camsdbuser-678;"/>-->
		<!-- Production Database Connection String-->
	    <!--<add name="oraclecon" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = cman-e3.uk.drcc3.dub.oci.vodafone.com)(PORT = 33000))(CONNECT_DATA = (SERVICE_NAME = CAMSDBP.sne3001.ie1cn013302o1.oraclevcn.com))); User Id = camsdbuser; Password = camsdbuser-456;"/>-->
	</connectionStrings>
	<appSettings>

		<!-- Windows Config-->
		<add key="SFTP_path" value="E:\\TEMS\\SFTP\\"/> 
		<add key="DBModel" value="E:\\TEMS\\Development\\Sandhata\\FeedBackLoop\\Model\\DBDesign.mapping"/> 
		<add key="DBTableModel" value="E:\\TEMS\\Development\\Sandhata\\FeedBackLoop\\Model\\DBTable.mapping"/> 

		<!-- Linux Config-->
		<!--<add key="SFTP_path" value="/home/camadm/output/"/>
		<add key="DBModel" value="/var/SP/CAMS/FeedbackLoopRelease/DBDesign.mapping"/> 
		<add key="DBTableModel" value="/var/SP/CAMS/FeedbackLoopRelease/DBTable.mapping"/>--> 

		<add key ="Countries_folder" value="UK"/>
		<add key ="SFTP_folders" value="*"/>
		<add key="archiveFolderName" value="Archive"/>
		<add key="failureFolderName" value="FailedXMLs"/>
		<add key="ArchiveXMLDays" value="6"/>
		<add key="logFolder" value="TEMS_Log"/>
		<add key="DisplayDebug" value="false"/>
       <!-- <add key ="SFTP_folders" value="BGF;CSCF;DSC;HLR-FE;HSS-FE;IP-STP;IPWorks;MGW;MRF;MSC-BC-IS;MTAS;SAPC;SBG"/> -->
	</appSettings>
</configuration>