<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="/var/SP/cams/CAMSREL/LOGS/CAMinternal.log">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>


    <target xsi:type="File" name="logs-file" fileName="/var/SP/cams/CAMSREL/LOGS/TEMSLogs.log"
              archiveFileName="/var/SP/cams/CAMSREL/LOGS/ARCHIVE/TEMSLogs.{#}.log"
              archiveNumbering="DateAndSequence"
              archiveDateFormat="yyyy-MM-dd"
              archiveAboveSize="5000000"
              maxArchiveFiles="5"
             layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

          <target xsi:type="Console" name="logconsole"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->

    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Fatal" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" level="Info" writeTo="logs-file" />

    <logger name="*" level="Trace" writeTo="logs-file" />
    <logger name="*" level="Debug" writeTo="logs-file" />
    <logger name="*" level="Fatal" writeTo="logs-file" />
    <logger name="*" level="Error" writeTo="logs-file" />

  </rules>
</nlog>